<!DOCTYPE html>
<html>
<title> ﻿David Dallaire </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}


 



.box {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin:-200px 0 0 -200px;
  border-radius: 50%;
  
  background: -webkit-radial-gradient(65% 15%, circle, white 1px, aqua 3%, darkblue 60%, aqua 100%); 
   background: -moz-radial-gradient(65% 15%, circle, white 1px, aqua 3%, darkblue 60%, aqua 100%); 
   background: -o-radial-gradient(65% 15%, circle, white 1px, aqua 3%, darkblue 60%, aqua 100%);
    background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);       

}

ul.b {
    list-style: box;
}


ul.d {
	
	list-style-image: url('static/images/phantom_sphere_tealv210x10.png');
}

.dropbtn {
    color: teal;
}

.dropdown {
    position: relative;
    display: inline-block;
 
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 800px;
 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content li:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
    display: block;
}


}



</style>
<head>
   <link rel="shortcut icon" href="static/favicon.ico">
</head>

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="static/images/IMG_9804.JPG" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-teal">
            <h2>﻿David Dallaire</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i> Quatitative Investment Risk, CFA, CAIA, MA</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i> Toronto, CAN </p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i> david.dallaire@sympatico.ca</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>647 389 1365 </p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Problem Solving</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:95%">95%</div>
          </div>
          <p>Team Work</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">
              <div class="w3-center w3-text-white">90%</div>
            </div>
          </div>
          <p>Investment Risk</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Coding</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>Python</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div>
          <p>R/Time Series</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div>


          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>French</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:75%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column C -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>

	

	   
	   
	

          <div class="w3-container">

	


	 		


         
	  <h5 class="w3-opacity"><b>OMEGA INVESTENT RISK, President</b></h5>

	  
          <h5 class="w3-opacity"><b>Contractor Application Development and Architectural Tools Builder, Bank of America</b></h5>
	
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep-2016 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
	  

		

	
          <p> Contribute to overall quality of released code by building tools and processes. Quickly prototype POC applications for big data in financial markets. </p>


		<ul class="d">
	  		
		  <li>
			Build SDLC screening tool to assess code quality when approving and pushing code 
			 

			<div class="dropdown" style="float:right;">

				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny">details</span>

				<div class="dropdown-content">
					<p> Goal is to increase application quality. Input is a list of review requests (RR) on committed code. </p>
					<ul class="d">
					 
					<li> find JIRA in RR description, if not issue error</li> 
					 
					<li> get JIRA detail via Atlasian JIRA REST API</li> 
					 
					<li> check RR code has test cases, and if not issue error</li> 
					 
					<li> run test cases and report results run coverage report for coverage rate, and if lower than 80%, issue error</li> 
					 
					<li> provide report by RR number</li> 
					
					</ul>
				</div>
			</div>
			

			 
			<div class="dropdown" style="float:right;">
				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny" class="drpbtn">tools</span>
				<div class="dropdown-content">
					<ul class="d">
					 
					<li> Python</li> 
					 
					<li> Atlassian JIRA REST API</li> 
					 
					<li> mock</li> 
					 
					<li> QzDev</li> 
					
					</ul>
				</div>

			</div>
				

		  </li>

	  		
		  <li>
			RESTful api for events monitoring and messaging using Python Flask 
			 

			<div class="dropdown" style="float:right;">

				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny">details</span>

				<div class="dropdown-content">
					<p> Purpose is process communication accross OS with chaining of different processes i.e. Java publish to Python. </p>
					<ul class="d">
					 
					<li> flask RESTFul API with URL end points</li> 
					 
					<li> central registration of listeners and publishers in Pandas data tables</li> 
					 
					<li> listeners register their url address for signal delivery</li> 
					 
					<li> on registration, listener set list of signals to receive</li> 
					 
					<li> registration uses endpoints GET, POST, PUT, DELETE</li> 
					 
					<li> end point SIGNAL used by publishers to signal to listers</li> 
					
					</ul>
				</div>
			</div>
			

			 
			<div class="dropdown" style="float:right;">
				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny" class="drpbtn">tools</span>
				<div class="dropdown-content">
					<ul class="d">
					 
					<li> Python</li> 
					 
					<li> Flask</li> 
					 
					<li> jsonify</li> 
					 
					<li> REST API</li> 
					 
					<li> Pandas</li> 
					 
					<li> curl</li> 
					 
					<li> libcurl</li> 
					 
					<li> cygwin</li> 
					 
					<li> mock</li> 
					 
					<li> QzDev</li> 
					
					</ul>
				</div>

			</div>
				

		  </li>

	  		
		  <li>
			Event framework for interprocess communication across operating systems using AMPS 
			 

			<div class="dropdown" style="float:right;">

				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny">details</span>

				<div class="dropdown-content">
					<p> Base AMPS framework and base events filters for interprocess communication </p>
					<ul class="d">
					 
					<li> add topic and generic filter to base class</li> 
					 
					<li> add call back function to base class</li> 
					 
					<li> add publisher and subscriber to base class</li> 
					 
					<li> base event class with generic filter at init</li> 
					 
					<li> message accross machines</li> 
					 
					<li> message accross different languages i.e. Java to Python</li> 
					 
					<li> chain process to start when one finishes</li> 
					
					</ul>
				</div>
			</div>
			

			 
			<div class="dropdown" style="float:right;">
				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny" class="drpbtn">tools</span>
				<div class="dropdown-content">
					<ul class="d">
					 
					<li> Python</li> 
					 
					<li> AMPS by 60East Technologies</li> 
					
					</ul>
				</div>

			</div>
				

		  </li>

	  		
		  <li>
			Map source data to risk engine via round trip data feed using XML with schema validation (ETL) 
			 

			<div class="dropdown" style="float:right;">

				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny">details</span>

				<div class="dropdown-content">
					<p> ETL processes for upward of 1M instruments </p>
					<ul class="d">
					
					</ul>
				</div>
			</div>
			

			 
			<div class="dropdown" style="float:right;">
				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny" class="drpbtn">tools</span>
				<div class="dropdown-content">
					<ul class="d">
					 
					<li> Python</li> 
					 
					<li> paramiko SSH</li> 
					 
					<li> WinSCP</li> 
					 
					<li> lxml</li> 
					 
					<li> XML Schemas with namespace</li> 
					 
					<li> Beautiful soup</li> 
					 
					<li> Pandas</li> 
					 
					<li> zip</li> 
					 
					<li> RiskMetric/MSCI RiskManager</li> 
					 
					<li> QzDev</li> 
					 
					<li> RML4</li> 
					 
					<li> XML</li> 
					
					</ul>
				</div>

			</div>
				

		  </li>

	  		
		  <li>
			Create UI for SDLC, to capture requirements in Atlasian JIRA against code delivery 
			 

			<div class="dropdown" style="float:right;">

				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny">details</span>

				<div class="dropdown-content">
					<p>  </p>
					<ul class="d">
					 
					<li> email html report created with jinja2, javascript (selector by coding unit) and css3 styles</li> 
					 
					<li> email EXCEL worksheet with tabs by coding unit</li> 
					 
					<li> pivot tables by any column</li> 
					 
					<li> capture of all code by fix version</li> 
					 
					<li> in memory file creation to email HTML or EXCEL attachement</li> 
					 
					<li> show each RR matched to JIRA and development stage of integration , qa, uat, preprod</li> 
					 
					<li> summary box showing all RR per fix version that are in integration, qa, uat and preprod</li> 
					 
					<li> aggregate fix versions by date and report</li> 
					
					</ul>
				</div>
			</div>
			

			 
			<div class="dropdown" style="float:right;">
				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny" class="drpbtn">tools</span>
				<div class="dropdown-content">
					<ul class="d">
					 
					<li> html</li> 
					 
					<li> mock</li> 
					 
					<li> QzDev</li> 
					 
					<li> Atlassian JIRA REST API</li> 
					 
					<li> Python</li> 
					 
					<li> jinja2</li> 
					 
					<li> javascript</li> 
					 
					<li> Pandas</li> 
					 
					<li> cvs database</li> 
					 
					<li> dictionary</li> 
					 
					<li> openpyxl (EXCEL)</li> 
					 
					<li> cStringIO</li> 
					 
					<li> BytesIO</li> 
					 
					<li> ui: Microsoft Windows Presentation Foundation (WPF)</li> 
					 
					<li> ui:common language run (CLR) and Microsoft Extensible Application Markup Language(XAML)</li> 
					 
					<li> ui:Python.Net</li> 
					
					</ul>
				</div>

			</div>
				

		  </li>

	  		
		  <li>
			ETF decomp UI showing input status from databases 
			 

			<div class="dropdown" style="float:right;">

				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny">details</span>

				<div class="dropdown-content">
					<p>  </p>
					<ul class="d">
					 
					<li> User input is list of security ids</li> 
					 
					<li> Output showing PMEID, SECURITYID, SECURITY TYPE, UNDERLYING, Count, COB date, PME_CNT, Status for each</li> 
					
					</ul>
				</div>
			</div>
			

			 
			<div class="dropdown" style="float:right;">
				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny" class="drpbtn">tools</span>
				<div class="dropdown-content">
					<ul class="d">
					 
					<li> ui:Microsoft Windows Presentation Foundation (WPF)</li> 
					 
					<li> ui:common language run (CLR)</li> 
					 
					<li> ui:Microsoft Extensible Application Markup Language(XAML)</li> 
					 
					<li> ui:Python.Net</li> 
					 
					<li> Python</li> 
					 
					<li> Pandas</li> 
					 
					<li> mock</li> 
					 
					<li> Python sqldbs</li> 
					
					</ul>
				</div>

			</div>
				

		  </li>

	  		
		  <li>
			ETL Status Dash Board showing portfolio and position statistics 
			 

			<div class="dropdown" style="float:right;">

				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny">details</span>

				<div class="dropdown-content">
					<p>  </p>
					<ul class="d">
					 
					<li> Portfolio Set Statistics combo bar chart and line graph showing drop, received sent by COB date</li> 
					 
					<li> Position Statistics bar chart showing dropped, received, sent, and proxy rate by COB date</li> 
					 
					<li> CSS style table showing timing statistics by batch id with sets sent, positions sent, position drop rate, proxy rate, cummulative received; start time and date, complete time and date and duration for each of ETL Packaging and FTP, MSCI Processing and ETL Processing from final MSCI Files</li> 
					 
					<li> create data cache version for adding funtionality, refactoring and debuging</li> 
					 
					<li> nested parallel processing on outer loop COB dates and inner loop batch ids, and parallel on timing by batch id with reduction in processing time from about 45 minutes to 2 minutes in development and 5 seconds in production on upwards of 1M positions</li> 
					
					</ul>
				</div>
			</div>
			

			 
			<div class="dropdown" style="float:right;">
				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny" class="drpbtn">tools</span>
				<div class="dropdown-content">
					<ul class="d">
					 
					<li> cgi_email</li> 
					 
					<li> Python</li> 
					 
					<li> html</li> 
					 
					<li> jinja2</li> 
					 
					<li> matplotlib</li> 
					 
					<li> matplotlib.pyplot</li> 
					 
					<li> BytesIO</li> 
					 
					<li> Beautiful Soup</li> 
					 
					<li> parallel grid processing</li> 
					
					</ul>
				</div>

			</div>
				

		  </li>

	  		
		  <li>
			Data Trace web site with Data Dictionary, Data Lineage and Data Timeline 
			 

			<div class="dropdown" style="float:right;">

				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny">details</span>

				<div class="dropdown-content">
					<p>  </p>
					<ul class="d">
					 
					<li> port all SQL functionality to fast cache Pandas type tables</li> 
					 
					<li> duplicating all sql functions such as left joins and join over several layers; all regression tested where cache tables match sql table; increased web responsiveness to non noticeable delays</li> 
					 
					<li> daily automated batch jobs that write sql database to the cache tables</li> 
					 
					<li> added flexible database access by environment</li> 
					 
					<li> add javascript prompting user enter of environment at web startup via radio button located in footer with hover to reveal radio buttons; this step initiates ajax POST to server to determine the user access to different elements in the web and pushed to production.</li> 
					 
					<li> use TortoiseSVN to push all sql tables and initial dummy data to production database</li> 
					
					</ul>
				</div>
			</div>
			

			 
			<div class="dropdown" style="float:right;">
				<span class="w3-hover-opacity-off w3-opacity-max w3-tag w3-teal w3-round w3-tiny" class="drpbtn">tools</span>
				<div class="dropdown-content">
					<ul class="d">
					 
					<li> Python</li> 
					 
					<li> Flask</li> 
					 
					<li> javascript</li> 
					 
					<li> jquery</li> 
					 
					<li> ajax</li> 
					 
					<li> d3</li> 
					 
					<li> bootstrap</li> 
					 
					<li> Microsoft SQL Server 2014 Mnagement Studio</li> 
					 
					<li> TortoiseSVN</li> 
					 
					<li> Pandas</li> 
					 
					<li> python sql</li> 
					 
					<li> CSS</li> 
					
					</ul>
				</div>

			</div>
				

		  </li>

	  
		</ul>


          <hr>
        </div>
	

		
	

	   
	   
	

          <div class="w3-container">

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  
	  <h5 class="w3-opacity"><b>OPSEU PENSION TRUST</b></h5>
	  

  
	  

          <h5 class="w3-opacity"><b>Manager, Investment Risk</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jul-2011 - Jul-2015</span></h6>

	    		
	  

		

	
          <p> Evaluated and diagnosed the risks—market, credit and liquidity—of the $17B multi-asset-class plan. Built and applied quantitative and qualitative tools. Led regular and custom analysis: concentration risk, absolute and active analytics, tail hedges. Researched new analytics. Contributed to policies for risk budgets. Steered stress testing to monitor the liquidity risk and the funded status of the plan. Led in financial engineering. Built models for private equity, real estate, infrastructure, and hedge funds, using multi-factor models. Initiated Python at OPSEU. </p>


		<ul class="d">
	  		
		  <li>
			Led in-depth quantitative and qualitative risk analysis with end-to-end creation of risk reports 
			

				

		  </li>

	  		
		  <li>
			Delivered on time and under budget, vendor risk solution to pension. Automated in Python 
			

				

		  </li>

	  		
		  <li>
			Developed FX tracking report, finding unintended risks and optimal currency hedges 
			

				

		  </li>

	  		
		  <li>
			Consistently delivered bespoke risk analysis and tactical suggestions under tight deadlines  
			

				

		  </li>

	  
		</ul>


          <hr>
        </div>
	

		
	

	   
	   
	

          <div class="w3-container">

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  
	  <h5 class="w3-opacity"><b>ERNST AND YOUNG</b></h5>
	  

  
	  

          <h5 class="w3-opacity"><b>Manager, Derivatives Valuation Centre</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Oct-2010 - Jul-2011</span></h6>

	    		
	  

		

	
          <p> Consulted in the pricing of derivatives such as commodity swap, commodity futures, commodity options, equity linked GICs, convertible bonds and structured products. </p>


		<ul class="d">
	  
		</ul>


          <hr>
        </div>
	

		
	

	   
	   
	

          <div class="w3-container">

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  
	  <h5 class="w3-opacity"><b>ALGORITHMICS</b></h5>
	  

  
	  

          <h5 class="w3-opacity"><b>Technical Director – Financial Engineering, Research and Development</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan-2005 - Jan-2010</span></h6>

	    		
	  

		

	
          <p> Primary financial engineer and subject matter expert for scenario generation and energy/commodities - supporting global pre-sales and operations. Researched, spec’d, prototyped, problem solved, validated, planed and managed the addition of new functionality. Led small informal collaborative teams. </p>


		<ul class="d">
	  		
		  <li>
			Helped land client, a large oil company in Spain. Built Monte Carlo valuation of a multi-commodity structure, using Schwartz-Smith model. Flexible pay off with swing optionality. 
			

				

		  </li>

	  		
		  <li>
			Introduced copula scenario generation. To facilitate adoption, prototyped in C++. Added empirical calibration, Kendall's Tau, Spearman's Rho, Student-t copula, empirical and parametric marginal distributions. Benefited in pre-sales, especially for insurance prospects. 
			

				

		  </li>

	  		
		  <li>
			For large insurance client, worked on consistent Monte Carlo generation of risk-neutral long-term scenarios on interest rates, FX, equities, commodities and real estate. 
			

				

		  </li>

	  		
		  <li>
			Go-to for quickly creating market risk models in C++ for pre-sales. Wrote custom pricing function in C++, a POC showing can match prospects variable annuity deals where pricing was nested Monte Carlo—helping land new clients. 
			

				

		  </li>

	  
		</ul>


          <hr>
        </div>
	

	
	

          <div class="w3-container">

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  

  
	  

          <h5 class="w3-opacity"><b>Senior Software Engineer/Financial Engineer, Models Team</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan-2004 - Jan-2005</span></h6>

	    		
	  

		

	
          <p> Coded/maintained Basel II, Dynamic Trade Strategies, ALM–with C++, OOPs and refactoring. </p>


		<ul class="d">
	  		
		  <li>
			Was on special team coding Basel II into Risk Engine, leading to licensing revenue. 
			

				

		  </li>

	  		
		  <li>
			Code market risk models, including dynamic trade strategies and ALM. 
			

				

		  </li>

	  
		</ul>


          <hr>
        </div>
	

	
	

          <div class="w3-container">

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  

  
	  

          <h5 class="w3-opacity"><b>Technical Manager/Financial Engineer, Technical Consulting</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan-2002 - Jan-2004</span></h6>

	    		
	  

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  

  
	  

          <h5 class="w3-opacity"><b>Team Lead/Financial Engineer, Technical Consulting</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan-2001 - Jan-2002</span></h6>

	    		
	  

		

	
          <p> Managed parts of bespoke applications: Asset Management Portal, Energy Risk Portal and Basel II. Led Risk++ product, a C++ library. Managed three reports and generated revenues. </p>


		<ul class="d">
	  		
		  <li>
			Did bespoke C++ consulting on all aspects of development cycle of financial engineering applications, including creating, refactoring and upgrading market risk models. Recognized by development head for generating $130K USD in one quarter. 
			

				

		  </li>

	  
		</ul>


          <hr>
        </div>
	

	
	

          <div class="w3-container">

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  

  
	  

          <h5 class="w3-opacity"><b>Financial Engineer, Client Services</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan-2000 - Jan-2002</span></h6>

	    		
	  

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  

  
	  

          <h5 class="w3-opacity"><b>Associate Financial Engineer, Client Services</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan-1998 - Jan-2000</span></h6>

	    		
	  

		

	
          <p> Supported clients with use of risk system: modeled and analyzed portfolios, calculated analytics and optimized. Modeled FX, fixed income, commodities and derivatives and energy markets.  </p>


		<ul class="d">
	  		
		  <li>
			Helped land an energy utility in California. Worked on pre-sales, proof-of-concept, discovery and design. Modeled risks on oil, gas, hydro, transportation and generation. Applied real options valuation. 
			

				

		  </li>

	  
		</ul>


          <hr>
        </div>
	

		
	

	   
	   
	

          <div class="w3-container">

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  
	  <h5 class="w3-opacity"><b>CANADA MORTGAGE AND HOUSING CORPORATION (CMHC)</b></h5>
	  

  
	  

          <h5 class="w3-opacity"><b>Insurance Business Analyst, Insurance Risk Management – Ottawa</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec-1997 - Apr-1998</span></h6>

	    		
	  

		

	
          <p> Analyzed and priced mortgage insurance. Worked on selling insurance on mortgages that banks wanted to collateralize, using credit scoring. Researched MBS as a funding source for banks. </p>


		<ul class="d">
	  
		</ul>


          <hr>
        </div>
	

	
	

          <div class="w3-container">

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  

  
	  

          <h5 class="w3-opacity"><b>Market Analyst, National Market Analysis Centre – Ottawa</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov-1995 - Dec-1997</span></h6>

	    		
	  

		

	
          <p> Analyzed and reported on housing market affordability. Did presentations, media communications and written business articles. Functional guidance to field analysts on time series analysis. </p>


		<ul class="d">
	  		
		  <li>
			Quoted in McLean’s magazine for Home Ownership versus Renting article." 
			

				

		  </li>

	  
		</ul>


          <hr>
        </div>
	

	
	

          <div class="w3-container">

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  

  
	  

          <h5 class="w3-opacity"><b>Market Analyst – London Office</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug-1992 - Nov-1995</span></h6>

	    		
	  

		

	
          <p> Analyzed and forecasted local housing markets. Required writing macros and SAS programs. Mentored co-workers on computer procedures. </p>


		<ul class="d">
	  
		</ul>


          <hr>
        </div>
	

		
	

	   
	   
	

          <div class="w3-container">

	


	 	



	  

	  <!-- if to check if employer populate -->
	  
	  
	  <h5 class="w3-opacity"><b>AGRICULTURE CANADA</b></h5>
	  

  
	  

          <h5 class="w3-opacity"><b>Student Economist (Co-op)</b></h5>
  
	  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>May-1991 - Dec-1991</span></h6>

	    		
	  

		

	
          <p> Modelled macro agricultural sector. Optimized nested and constrained CES production function. </p>


		<ul class="d">
	  
		</ul>


          <hr>
        </div>
	

		
	
	


	
  

      <div class="w3-container w3-card-2 w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        
	
        <div class="w3-container">
		
	   <h5 class="w3-opacity"><b> University of Waterloo</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1992</h6>
          <p>M.A. Economics</p>
          <hr>
        </div>

	
        <div class="w3-container">
		
	   <h5 class="w3-opacity"><b> Laurentian University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1989</h6>
          <p>B.A. Economics</p>
          <hr>
        </div>

	
        <div class="w3-container">
		
	   <h5 class="w3-opacity"><b> CAIA Association</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2014</h6>
          <p>Chartered Alternative Investment Analyst (CAIA)</p>
          <hr>
        </div>

	
        <div class="w3-container">
		
	   <h5 class="w3-opacity"><b> CFA Institute</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2000</h6>
          <p>Chartered Financial Analyst (CFA)</p>
          <hr>
        </div>

	
        <div class="w3-container">
		
	   <h5 class="w3-opacity"><b> Toastmasters International</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>1995</h6>
          <p>Able Toastmaster</p>
          <hr>
        </div>

	
	
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
